<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appinfinitycrypto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppInfinityCrypto"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity
            android:name=".MainAdmin"
            android:exported="true" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="true" />
        <activity
            android:name=".CoinDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeProfile"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".WatchListActivity"
            android:exported="false" />
        <activity
            android:name=".activity_profile_user"
            android:exported="false" />
        <activity
            android:name=".activity_market"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".SendCodeEmail"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".LoadingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Admin"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>